<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">
<meta name="description" content="<%= __('Ideas grow better together') %>">
<meta name="keywords" content="Collaborative, Markdown, Notes">
<%- include('../includes/favicon') %>
<meta property="og:title" content="HedgeDoc - <%= __('Collaborative markdown notes') %>">
<meta property="og:description" content="<%= __('Ideas grow better together') %>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%- serverURL %>">
<meta property="og:image" content="<%- serverURL %>/icons/android-chrome-512x512.png">
<meta property="og:image:alt" content="HedgeDoc logo">
<meta property="og:image:type" content="image/png">
<base href="<%- serverURL %>/">
<title>HedgeDoc - <%= __('Collaborative markdown notes') %></title>
<%- include('../build/cover-pack-header') %>
